.tabs-fit-height {
  &.mat-tab-nav-bar,
  &.mat-tab-group,
  .mat-tab-labels,
  .mat-tab-link,
  .mat-tab-links,
  .mat-tab-label,
  .mat-tab-header {
    height: 100%;
  }

  .mat-tab-labels {
    align-items: center;
    height: 100%;
  }
}

.ngx-store-test-app .mat-ink-bar {
  height: 4px;
}
