<div *ngIf="todo"
     class="edit-todo-dialog-component dialog">

  <!-- Title -->
  <h1 mat-dialog-title>Edit todo</h1>

  <!-- Content -->
  <div mat-dialog-content>
    <form [formGroup]="todoForm">

      <!-- Todo input name -->
      <app-todo-input-name #todoInputName
                           (todoInputNameFormControl)="todoForm.addControl('name', $event)"
                           [todoInputNameDefault]="todo.name">
      </app-todo-input-name>

      <!-- Todo input description -->
      <app-todo-input-description (todoInputDescriptionFormControl)="todoForm.addControl('description', $event)"
                                  [todoInputDescriptionDefault]="todo.description">
      </app-todo-input-description>
    </form>
  </div>

  <!-- Actions -->
  <div class="actions-container"
       mat-dialog-actions>

    <!-- Close button -->
    <button (click)="close()"
            mat-raised-button>
      Close
    </button>

    <!-- Edit todo button -->
    <button (click)="editTodo()"
            [disabled]="todoForm.invalid"
            color="primary"
            mat-raised-button>
      Edit
    </button>
  </div>
</div>
