@import '../../../assets/styles/imports';

.navbar-component {
  display: flex; // Required to allow visibility of elevation (box-shadow) on top of below mat-toolbar

  .mat-toolbar {
    @include mat-elevation(5);

    .left-content {
      display: flex;
    }
    .right-content {
      display: flex;
      margin-left: auto;
      height: 100%;
    }
  }
}
