<div class="navbar-component">
  <mat-toolbar color="primary"
               role="heading">

    <!-- Left -->
    <div class="left-content">

      <!-- Title -->
      <span>NGX Store test</span>
    </div>

    <!-- Right -->
    <div class="right-content">

      <!-- Navigation -->
      <nav backgroundColor="primary"
           class="navbar-tabs tabs-fit-height"
           color="primary"
           mat-tab-nav-bar>
        <a #rla="routerLinkActive"
           *ngFor="let link of links"
           [active]="rla.isActive"
           [routerLink]="link.path"
           mat-tab-link
           routerLinkActive>
          {{ link.label }}
        </a>
      </nav>
    </div>
  </mat-toolbar>
</div>
