<div class="navbar-component">
  <mat-toolbar color="primary"
               role="heading">

    <!-- Left -->
    <div class="left-content">

      <!-- Title -->
      <span>NGX Store test</span>
    </div>

    <!-- Right -->
    <div class="right-content">

      <!-- Navigation -->
      <nav mat-tab-nav-bar
           class="navbar-tabs"
           backgroundColor="primary"
           color="primary">
        <a mat-tab-link
           *ngFor="let link of links"
           [routerLink]="link.path"
           routerLinkActive
           #rla="routerLinkActive"
           [active]="rla.isActive">
          {{ link.label }}
        </a>
      </nav>
    </div>
  </mat-toolbar>
</div>
