<div class="home-component content-container">
  <h1 class="mat-h1">Purpose</h1>

  <!-- TD;DR -->
  <h3 class="mat-h3">TL;DR</h3>
  <p class="mat-body">
    This project is used as an experimental playground for Angular projects.
    <br>
    It is useful to refer it and use it to copy and paste some configuration files and checkout the cool features than it can provide.
  </p>

  <!-- Configuration -->
  <h3 class="mat-h3 no-margin">Configuration</h3>
  <p class="mat-body">
    This section is all about how the project is configured and what kind of library it uses.
  </p>
  <mat-list>
    <ng-template [ngForOf]="configurationCategories"
                 let-category
                 let-isLastCategory="last"
                 ngFor>
      <h3 mat-subheader>{{ category.name }}</h3>
      <mat-list-item *ngFor="let item of category.items">
        <mat-icon [svgIcon]="item.icon"
                  matListIcon>
        </mat-icon>
        <p class="mat-body"
           matLine>
          {{ item.label }}
        </p>
        <p *ngIf="item.description"
           class="mat-small color-grey white-space-normal"
           matLine>
          {{ item.description }}
        </p>
      </mat-list-item>
      <mat-divider *ngIf="!isLastCategory"></mat-divider>
    </ng-template>
  </mat-list>

  <!-- Features -->
  <h3 class="mat-h3 no-margin">Features</h3>
  <p class="mat-body">
    This section is all about the playground features which are available as an example on the third parties libraries or other stuff.
  </p>
  <mat-list>
    <mat-list-item *ngFor="let feature of featuresCategories">
      <mat-icon [svgIcon]="feature.icon"
                matListIcon>
      </mat-icon>
      <p class="mat-body"
         matLine>
        {{ feature.label }}
      </p>
      <p *ngIf="feature.description"
         class="mat-small color-grey white-space-normal"
         matLine>
        {{ feature.description }}
      </p>
    </mat-list-item>
  </mat-list>
</div>
