<div *ngIf="task"
     class="add-task-dialog-component dialog">

  <!-- Title -->
  <h1 mat-dialog-title>Add task</h1>

  <!-- Content -->
  <div mat-dialog-content>
    <form [formGroup]="taskForm">

      <!-- Task input name -->
      <app-task-input-name #taskInputName
                           (taskInputNameFormControl)="taskForm.addControl('name', $event)"
                           [taskInputNameDefault]="task.name">
      </app-task-input-name>

      <!-- Task input description -->
      <app-task-input-description (taskInputDescriptionFormControl)="taskForm.addControl('description', $event)"
                                  [taskInputDescriptionDefault]="task.description">
      </app-task-input-description>
    </form>
  </div>

  <!-- Actions -->
  <div class="actions-container"
       mat-dialog-actions>

    <!-- Close button -->
    <button (click)="close()"
            mat-raised-button>
      Close
    </button>

    <!-- Add task button -->
    <button (click)="addTask()"
            [disabled]="taskForm.invalid"
            color="primary"
            mat-raised-button>
      Add
    </button>
  </div>
</div>
