<div *ngIf="todo"
     class="add-todo-dialog-component dialog">

  <!-- Title -->
  <h1 mat-dialog-title>Add todo</h1>

  <!-- Content -->
  <div mat-dialog-content>
    <form [formGroup]="todoForm">

      <!-- Todo input name -->
      <app-todo-input-name [todoInputNameDefault]="todo.name"
                           (todoInputNameFormControl)="todoForm.addControl('name', $event)">
      </app-todo-input-name>
    </form>
  </div>

  <!-- Actions -->
  <div mat-dialog-actions>

    <!-- Close button -->
    <button mat-raised-button
            (click)="close()">
      Close
    </button>

    <!-- Add todo button -->
    <button mat-raised-button
            color="accent"
            (click)="addTodo()">
      Add
    </button>
  </div>
</div>
