<div class="todos-component">

  <!-- Toolbar -->
  <app-toolbar>
    <div class="todos-toolbar-content">

      <!-- Todo tab list -->
      <nav *ngIf="todos.length > 0"
           mat-tab-nav-bar
           class="tabs-fit-height"
           backgroundColor="primary"
           color="primary">

        <!-- Todo tab -->
        <a mat-tab-link
           *ngFor="let todo of todos"
           [id]="todo.id"
           [routerLink]="['todo', todo.id]"
           routerLinkActive
           #rla="routerLinkActive"
           [active]="rla.isActive">
          {{ todo.name }}
        </a>
      </nav>

      <!-- New todo button -->
      <button id="new-todo-button"
              (click)="newTodo()"
              class="small"
              color="accent"
              mat-mini-fab
              matTooltip="New todo"
              matTooltipPosition="after">
        <mat-icon svgIcon="white-add"></mat-icon>
      </button>
    </div>
  </app-toolbar>

  <!-- Content -->
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
