.todos-component {
  .todos-toolbar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    max-width: 100%;

    #todo-tab-list {
      flex-shrink: 1;

      .mat-tab-group {
        overflow: hidden;
      }
    }

    #new-todo-button {
      flex-shrink: 0;
      margin-left: 16px; // Same as mat-toolbar padding
    }
  }

  .todos-description-container {
    .actions-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;

      button + button {
        margin-left: 12px;
      }
    }
  }
}
