<div *ngIf="formControl"
     class="todo-input-name-component">
  <mat-form-field>

    <!-- Label -->
    <mat-label>Name</mat-label>

    <!-- Input -->
    <input #input
           [formControl]="formControl"
           matInput
           placeholder="My shopping list"
           required
           type="text">

    <!-- Clear button -->
    <button (click)="clear()"
            *ngIf="value"
            aria-label="Clear"
            mat-button
            mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>

    <!-- Current characters -->
    <mat-hint align="end">{{ value.length }} / {{ maxLength }}</mat-hint>

    <!-- Errors -->
    <mat-error *ngIf="formControl.errors?.minlength">
      Name must be at least
      <strong>{{ minLength }}</strong>
      characters long
    </mat-error>
    <mat-error *ngIf="formControl.errors?.maxlength">
      Name must be at most
      <strong>{{ maxLength }}</strong>
      characters long
    </mat-error>
    <mat-error *ngIf="formControl.errors?.required">
      Name is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
