@import '../../../../../assets/styles/imports';

.todos-todo-component {
  .mat-card {
    .todo-avatar {
      position: relative;

      .loader {
        position: absolute;
        background-color: $color-white;
      }

      img {
        border-radius: 50%;
      }
    }
  }

  .action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;

    button + button {
      margin-left: 8px;
    }
  }
}
