<div *ngIf="todo"
     class="todos-todo-component">

  <!-- Todo card -->
  <mat-card>
    <mat-card-header>

      <!-- Todo avatar -->
      <div class="todo-avatar"
           mat-card-avatar>

        <!-- Loader -->
        <div *ngIf="!isAvatarLoaded"
             class="loader lds-dual-ring avatar">
        </div>

        <!-- Image -->
        <img (load)="onAvatarLoad()"
             [src]="todo.avatarUrl"
             alt="avatar">
      </div>

      <!-- Todo name -->
      <mat-card-title>{{ todo.name }}</mat-card-title>

      <!-- Todo dates -->
      <mat-card-subtitle>
        <span *ngIf="todo.updateDate">Created on {{ todo.creationDate | date }}, last update on {{ todo.updateDate | date }}</span>
        <span *ngIf="!todo.updateDate">Created on {{ todo.creationDate | date }}</span>
      </mat-card-subtitle>
    </mat-card-header>

    <!-- Todo description -->
    <mat-card-content *ngIf="todo.description">
      <p class="mat-body">{{ todo.description }}</p>
    </mat-card-content>
  </mat-card>

  <div class="action-container">

    <!-- Add task button -->
    <button (click)="addTask()"
            color="primary"
            mat-raised-button
            matTooltip="Add task"
            matTooltipPosition="before">
      Add
    </button>

    <!-- Edit todo button -->
    <button (click)="editTodo()"
            color="primary"
            mat-raised-button
            matTooltip="Edit todo"
            matTooltipPosition="after">
      Edit
    </button>
  </div>
</div>
