<div class="todos-todo-component"
     *ngIf="todo">

  <!-- Todo card -->
  <mat-card>
    <mat-card-header>

      <!-- Todo avatar -->
      <div mat-card-avatar
           class="todo-avatar">

        <!-- Loader -->
        <div *ngIf="!isAvatarLoaded"
             class="loader lds-dual-ring avatar">
        </div>

        <!-- Image -->
        <img [src]="todo.avatarUrl"
             (load)="onAvatarLoad()"
             alt="avatar">
      </div>

      <!-- Todo name -->
      <mat-card-title>{{ todo.name }}</mat-card-title>

      <!-- Todo description -->
      <mat-card-subtitle>{{ todo.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>

    <!-- Action bar -->
    <mat-card-actions>
      <div class="left-content">

        <!-- Add task button -->
        <button mat-raised-button
                color="accent"
                matTooltip="Add task"
                matTooltipPosition="before"
                (click)="addTask()">
          Add
        </button>
      </div>
      <div class="right-content">

        <!-- Edit todo button -->
        <button mat-raised-button
                color="accent"
                matTooltip="Edit todo"
                matTooltipPosition="after"
                (click)="editTodo()">
          Edit
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
