// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngx-store-test-primary: mat-palette($mat-deep-purple, 500, 200, 900);
$ngx-store-test-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ngx-store-test-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ngx-store-test-theme: mat-light-theme($ngx-store-test-primary, $ngx-store-test-accent, $ngx-store-test-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ngx-store-test-theme);

@import 'buttons/material-buttons';
@import 'dialogs/material-dialogs';
@import 'tabs/material-tabs';
