@import 'imports';
@import 'material/material';
@import 'class/class';
@import 'components/components';
@import 'directives/directives';
@import 'grid/grid';

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
