<div *ngIf="description"
     class="todo-input-description-component">
  <mat-form-field>

    <!-- Label -->
    <mat-label>Description</mat-label>

    <!-- Textarea -->
    <textarea [formControl]="description"
              cdkAutosizeMaxRows="5"
              cdkAutosizeMinRows="2"
              cdkTextareaAutosize
              matInput
              placeholder="A list of stuff I must buy the next time I go shopping !">
    </textarea>

    <!-- Clear button -->
    <button (click)="clear()"
            *ngIf="value"
            aria-label="Clear"
            mat-button
            mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>

    <!-- Current characters -->
    <mat-hint align="end">{{ value.length }} / {{ maxLength }}</mat-hint>

    <!-- Errors -->
    <mat-error *ngIf="description.errors?.minlength">
      Description must be at least
      <strong>{{ minLength }}</strong>
      characters long
    </mat-error>
    <mat-error *ngIf="description.errors?.maxlength">
      Description must be at most
      <strong>{{ maxLength }}</strong>
      characters long
    </mat-error>
  </mat-form-field>
</div>
